<!DOCTYPE html>

<html lang="en">
  <%- include('../layout/head') %>
  <body>
    <header>
      <h1>book app</h1>
      <a href="/">Saved Books</a>
      <a href="/searches/new">Search API</a>
      <hr>
    </header>
    <main>
      <h2>Details</h4>
      <ul id="bookcase"></ul>
        <li class="cards">
            <%- include('../layout/card', {book: book}) %>
            <%- include('../layout/details', {book: book}) %>
          <button class="select-book">Edit This Book</button>
          <%- include('../layout/form', {book: book, bookshelves: bookshelves}) %>
        </li>
    </main>
    <script type="text/javascript" src="../../../app.js"></script>
  </body>
</html>