<!DOCTYPE html>

<html lang="en">
    <%- include('../books/head') %>
    <body>
    <header>
      <h1>book app</h1>
      <a href="/">Saved Books</a>
      <a href="/searches/new">Search API</a>
      <hr>
      <form action="/searches" method="POST">
        <input type="text" name="search" placeholder="Enter a Title or Author" required>
        <fieldset>
          <label for="title">
            <span>Title</span>
            <input type="radio" name="type" value="title" required>
          </label>
          <label for="author">
            <span>Author</span>
            <input type="radio" name="type" value="author" required>
          </label>
        </fieldset>
        <button type="submit">Search</button>
      </form>
    </header>
    <main>
    </main>
  </body>
</html>