
body {
  color: white;
  background-color: #333;
  font-family: 'Antic', sans-serif;
  margin: 0 5%;
}

header {
  text-align: center;
}

h1 {
  text-align: center;
  font-size: 4em;
  color: white;
  font-family: 'Advent Pro', sans-serif;
  font-weight: 500;
  padding: 15px;
}

h2 {
  text-align: center;
  font-size: 2em;
  color: white;
  font-family: 'Antic', sans-serif;
  margin: 20px auto 20px;
}

h3 {
  font-size: 1.5em;
  height: 75px;
  padding: 15px;
  margin: 5px;
  overflow: scroll;
  vertical-align: middle;
}

h5 {
  margin: 15px;
  font-size: 1.2em;
  font-weight: 300;
  height: 40px;
}

main {
  display: grid;
  grid-template-columns: 1;
  grid-row-gap: 30px;
}

