
@media (min-width: 600px){
  #bookcase {
    grid-template-columns: 45% 45%;
    grid-column-gap: 30px;
    margin: 0 auto;
  }
}

@media (min-width: 960px){
  #bookcase {
    grid-template-columns: 30% 30% 30%;
    grid-column-gap: 30px;
    margin: 0 auto;
  }
}

.hidden-form {
  display: none;
}

.visible-form {
  text-align: center;
  width: 100%;
}