
@media (min-width: 600px){
  main {
    grid-template-columns: 45% 45%;
    grid-column-gap: 30px;
    margin: 0 auto;
  }
}

@media (min-width: 960px){
  main {
    grid-template-columns: 30% 30% 30%;
    grid-column-gap: 30px;
    margin: 0 auto;
  }
}