
form {
  margin: 20px auto;
  grid-auto-columns: 100%;
}

.cards {
  border: 2px solid white;
  text-align: center;
  padding-bottom: 48px;
  box-shadow: 8px 8px 5px black;
  border-radius: 15px;
  grid-column: 90%;
}

img {
  height: 100%;
  box-shadow: 2px 2px 5px #ddd;
  text-align: center;
  margin: 0 auto;
}

div {
  height: 300px;
  width: 60%;
  text-align: center;
  margin: 0 auto;
}

p {
  height: 96px;
  overflow: scroll;
  margin: 20px;
}

.search-input {
  margin: 5px 10px;
  height: 30px;
  font-size: 25px;
  padding: 5px;
  text-align: center;
  border-radius: 5px;
  font-family: 'Antic', sans-serif;
}

input {
  margin: 5px 10px;
  width: 80%;
  height: 20px;
  font-size: 14px;
  padding: 5px;
  text-align: center;
  border-radius: 3px;
  font-family: 'Antic', sans-serif;
}

textarea {
  margin: 5px 10px;
  width: 80%;
  height: 10em;
  overflow: scroll;
  font-size: 14px;
  padding: 5px;
  text-align: center;
  border-radius: 3px;
  font-family: 'Antic', sans-serif;
}

button {
  height: 30px;
  width: 60%;
  margin: 15px;
  font-family: 'Advent Pro', sans-serif;
  font-size: 20px;
  vertical-align: middle;
  font-weight: 700;
}

.details-form {
  width: 100%;
}

.radio {
  width: auto;
}

a {
  display: inline-block;
  width: 100px;
  text-decoration: none;
  color: white;
}

a:hover {
  text-decoration: none;
  color: rgb(230, 233, 36);
}